.v-toolbar
{
	float:right;
	width:360px;
	text-align: right;
}

.v-toolbar img
{
	width: 32px;
	height: 32px;
	margin: 0 10 0 10;
}

.x-statusbar {
	color: red;
}

#west-region-container-innerCt {
	position:absolute; z-index:1;
	top:0px; bottom:48px; left:0;
	width:100%;
	background:#fff;
	overflow:auto;
}

/**Step 2: Fluid Fonts 
Before we start styling our menu we’ll create a wrapper with a fixed width and a font-size of 13px (expressed in em units). 
Firstly we’ll add a rule to the body, font-size:100%;. This will ensure that our styling is based on the browser default font-size (usually 16px).
Now to explain how the wrapper font size works. We have to express it as an em; proportional to the size of its parent’s font-size. 
We’re aiming for 13px, so assuming the parent size is 16px, our resultant em is 13 / 16 = 0.8125. 13px is 0.8125*16px.
*/
body {
    font-size: 100%;
}

/*** 消除缺省的<a>样式，例如 下划线 等**/
a {
    text-decoration: none;
}

ul, ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ux-navigator-wrapper {
    width: 235px;
    margin-left: 5px;
	margin-top: 5px;
    font-size: 0.8125em; /* 13px/16px = 0.8125 */
	
	/* for scroll */
	position:absolute; z-index:1;
	/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:0;
}

.ux-navigator-menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.ux-navigator-menu > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em; /* 36px/13px ≈ 2.75 */
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.ux-navigator-menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.ux-navigator-menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}

.ux-navigator-menu > li > a:hover,
.ux-navigator-menu > li > a.active {
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.ux-navigator-menu > li > a.active {
    border-bottom: 1px solid #1a638f;
}

.ux-navigator-menu > li > a:before {
    content: '';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
	background-position: 0 0;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}


.ux-navigator-menu > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%;
    background: #48515c;
    line-height: 1em;
    height: 1.8em;
    padding: .4em .6em;
    margin: -.8em 0 0 0;
    color: #fff;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: .769em;
    border-radius: .769em;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-weight: 500;
}
.ux-navigator-menu > li > a:hover span, .ux-navigator-menu > li a.active span {
    background: #2173a1;
}


/* Sub Menu Numbers and Arrow */
.ux-navigator-menu ul > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%; /
    background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1.8em;
    padding: .4em .7em;
    margin: -.9em 0 0 0;
    color: #878d95;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}
.ux-navigator-menu > li > ul li a:before {
    content: '▶';
    font-size: 8px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.0em;
}
.ux-navigator-menu > li > ul li:hover a,
.ux-navigator-menu > li > ul li:hover a span,
.ux-navigator-menu > li > ul li:hover a:before {
    color: #32373D;
}


.slide-up-hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-down-show {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}


/** Customize the loading splash screen and loading mask ***/
.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    padding: 30px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('../images/logo-splash.png') !important;
    margin-top: -30px;
    margin-bottom: 10px;
}

.x-mask {
    background-color: white;
    opacity: 0.5;
}

/**
#west-region-container-innerCt {
	background: url('../images/bg.jpg') #10a5d3;
}

#content-container-innerCt {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

#content-container-innerCt {
	background: url('../images/bg.jpg') #10a5d3;
}
**/

.x-form-item-label {
	color: #35afe3;
	font-weight: 600;
}


/** Define the header **/
#ux-header-wrapper
{
	float: right;
	margin-right: 72px;
}

#ux-header-wrapper table td
{
	font-size: 12px;
	text-align: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 550;
	line-height: 20px;
}

#ux-header-wrapper table td a
{
	font-size: 14px;
	text-align: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #878d95;
}

.ux-navi-refresh-btn {
	background-image: url('../icons/metro/refresh.png') !important;
}
.ux-window-close-btn
{
	background-image: url('../icons/button/MB_0019_shut-down.png') !important;
	width:24px!important;
	height:24px!important;
	color:#fff;
}
